body {
  font-family: Montserrat, Arial, sans-serif;
  margin: auto;
  max-width: 60%;
}

header {
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
}

nav a {
  text-align: left;
  text-decoration: none;
}

#links {
  text-align: center;
}

div {
  text-align: justify;
}
